.form-group {
  position: relative;
  .form-control {
    width: 100%;
    display: block;
    min-height: 50px;
    outline: none;
    color: #fff;
    background: transparent;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    &.has-search {
      padding: 0 25px;
    }
  }
  .seach-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }
  .back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
