.btn.btn-primary{
    background: #eb2650;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border-radius: 100px;
    font-weight: 700;
}
.btn.btn-small{
    padding: 15px 30px;
}